#boos-helper {
  position: fixed;
  top: 55px;
  right: 10px;
  z-index: 999;
}
.el-dropdown .el-avatar {
  border: 2px solid #fff;
  &:hover {
    border: 3px solid #c413e7;
  }
}
.el-dropdown-menu__item {
  justify-content: center;
}

::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #4b5563;
  border: 2px solid transparent;
  background-clip: padding-box;
}

#loader {
  width: 0;
  height: 4.8px;
  display: inline-block;
  position: relative;
  background: #54f98d;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  top: -14px;
  &::after,
  &::before {
    content: "";
    width: 10px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 9px;
    right: -2px;
    opacity: 0;
    transform: rotate(-45deg) translateX(0px);
    box-sizing: border-box;
    animation: coli1 0.3s linear infinite;
  }

  &::before {
    top: -4px;
    transform: rotate(45deg);
    animation: coli2 0.3s linear infinite;
  }

  @keyframes coli1 {
    0% {
      transform: rotate(-45deg) translateX(0px);
      opacity: 0.7;
    }

    100% {
      transform: rotate(-45deg) translateX(-45px);
      opacity: 0;
    }
  }

  @keyframes coli2 {
    0% {
      transform: rotate(45deg) translateX(0px);
      opacity: 1;
    }

    100% {
      transform: rotate(45deg) translateX(-45px);
      opacity: 0.7;
    }
  }
}
