.job-search-wrapper,
.page-job-content {
  width: 90% !important;
}
.job-list-wrapper,
.job-card-wrapper,
.job-search-wrapper.fix-top {
  width: 100% !important;
}
.job-card-wrapper .job-card-body {
  display: flex;
  justify-content: space-between;
}
.job-card-wrapper .job-card-left {
  width: 50% !important;
}
.job-card-wrapper .start-chat-btn,
.job-card-wrapper:hover .info-public {
  display: initial !important;
}
.job-card-wrapper .job-card-footer {
  min-height: 48px;
  display: flex;
  justify-content: space-between;
}
.job-card-wrapper .clearfix:after {
  content: none;
}
.job-card-wrapper .job-card-footer .info-desc {
  width: auto !important;
}
.job-card-wrapper .job-card-footer .tag-list {
  width: auto !important;
  margin-right: 10px;
}
.city-area-select.pick-up .city-area-dropdown {
  width: 80vw;
  min-width: 1030px;
}
.job-search-box .job-search-form {
  width: 100%;
}
.job-search-box .job-search-form .city-label {
  width: 10%;
}
.job-search-box .job-search-form .search-input-box {
  width: 82%;
}
.job-search-box .job-search-form .search-btn {
  width: 8%;
}
.job-search-wrapper.fix-top .job-search-box,
.job-search-wrapper.fix-top .search-condition-wrapper {
  width: 90%;
  min-width: 990px;
}

#main.inner {
  width: auto;
  margin: 0 30px;
}
.system-search-condition {
  width: auto !important;
}
